* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header_top {
    justify-content: space-between;
    height: 85px;
    background-color: blue;
}

.container {
    max-width: 1170px;
    margin: auto;
    background-color: blue;
    align-items: center;
}
.container-flex {
    height: 85px;
    display: flex;
}

.logo {
    background-color: bisque;
    height: 30px;
    width: 20%;
    border: 5px dashed orange;
}

nav {
    background-color: silver;
    height: 30px;
    width: 80%;
    border: 5px dashed orange;
    text-align: center;
}

.button {
    background-color: salmon;
    height: 30px;
    width: 20%;
    border: 5px dashed orange;
    text-align: end;
}

.sfondo {
    height: 600px;
    background-color: aqua;
}

.img {
    background-color: sienna;
    height: 400px;
}

#testo_p {
    height: 250px;
    align-items: center;
    width: 1170px;
    border: 5px dashed orange;
}

.descrizioni {
    margin-bottom: 250px;
    margin-top: 250px;
    justify-content: center;
    width: 1170px;
}

.descrizione_t {
    width: 40%;
    background-color: crimson;
    height: 300px;
    border: 5px dashed orange;
}

.images {
    width: 60%;
    background-color: pink;
    height: 300px;
    border: 5px dashed orange;
}
 
#reverse {
    flex-direction: row-reverse;
}

.grigio {
    height: 500px;
}

.centro {
    text-align: center;
    height: 500px;
    width: 1170px;
}

#bislungo {
    height: 700px;
}